<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom navbar-site-header my-sm-5">
    <div class="container mx-sm-5 ">
      <div class="navbar-header navbar-left pull-left">
        <a class="navbar-brand" href="/{{page.lang}}/index.html">
          <img src="/assets/img/favicon/logo_black.svg" height="32" class="d-inline-block align-top" alt="logo" loading="lazy">
        </a>
      </div>
      <div class="navbar-header navbar-right pull-right">
        {% assign pageLang = "/" | append: page.lang | append: "/" %}
        {% assign htmlEnding = ".html"  %}
        {% assign blogKey = "/blog/"  %}
        {% assign researchKey = "/research/"  %}
        {% assign eventsKey = "/events/"  %}
        {% assign announcementsKey = "/announcements/"  %}
        {% assign aboutKey = "about.html"  %}
        {% assign projectsKey = "/projects/"  %}
        <ul class="nav navbar-nav navbar-right flex-row">
          <li class="nav-item">
            <a class="nav-link {% if page.url contains projectsKey %}active{% endif %}" href="/en/projects/overview.html">{{site.data.translations['ProjectsTitleCaps'][page.lang]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains blogKey %}active{% endif %} {% if page.url contains researchKey %}active{% endif %} {% if page.url contains eventsKey %}active{% endif %} {% if page.url contains announcementsKey %}active{% endif %}" href="/en/blog/all.html">{{site.data.translations['BlogTitleCaps'][page.lang]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains aboutKey %}active{% endif %}" href="/{{page.lang}}/about.html">{{site.data.translations['AboutTitle'][page.lang]}}</a>
          </li>
        </ul>
      </div>
    </div>
</nav>