<!-- Navbar to Display {{page.product-name}} -->
<nav class="navbar navbar-light navbar-menu-header d-flex flex-row border-bottom shadow-sm">
    <div class="container-fluid mx-sm-5">
      <div class="navbar-header navbar-left pull-left">
        <a class="navbar-brand mr-3" href="{{page.url}}">{{page.product-name}}</a>
      </div>
      <div class="navbar-header navbar-right pull-right">
        <ul class="nav navbar-nav navbar-right flex-nowrap flex-row align-items-center">
            <li class="nav-item d-none d-sm-block">
            <a class="nav-link" href="#">{{site.data.translations['ProductOverview'][page.lang]}}</a>
            </li>
            <li class="nav-item d-none d-sm-block">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{site.data.translations['ProductTechDetails'][page.lang]}}</a>
            </li>
            
            <button class="navbar-toggler d-block d-sm-none mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div class="menu-expand__arrow" id="expand__arrow">
            </button>
            <a class="btn btn-sm btn-primary ml-2 button-get-info px-3" href="/{{page.lang}}/contact.html" role="button">{{site.data.translations['ProductRequestInfo'][page.lang]}}</a>
        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-sm-none">
        <li class="nav-item">
          <a class="nav-link" href="#">{{site.data.translations['ProductOverview'][page.lang]}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{site.data.translations['ProductTechDetails'][page.lang]}}</a>
        </li>
      </ul>
    </div>
  </nav>