<!doctype html>
<html lang="{{page.lang}}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/global.css">
    {% if page.show-prod-nav %}
      <link rel="stylesheet" href="/assets/css/rb1.css">
    {% endif %}

    <!-- Title and Icon -->
    <title>{{page.title}}</title>
    <link rel="icon" href="/assets/img/favicon/icon_black.svg" type="image/icon type">

    {% feed_meta %}
    {% seo %}

    <meta property="og:type" content="{{page.type}}" />
    <meta name="twitter:site" content="{{site.url}}{{ page.url | remove: 'index.html' }}" />
    <meta name="twitter:card" content="{{page.twitterCard}}" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:image" content="{{site.url}}{{page.image}}" />
    <meta name="twitter:description" content="{{page.description}}" />
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon/favicon.ico" />
  </head>
  <body>
    <header>
    {% include navigation.html %}
    {% if page.show-prod-nav %}
      {% include product-navigation.html %}
    {% endif %}
    </header>

    <div class="home-intro position-relative overflow-hidden p-3 p-md-3 m-md-1 text-left bg-white">
      <div class="col-md-5 float-lg-left mx-sm-5 my-5">
          <h1 class="font-weight-normal display-4">{{site.data.translations['PressReleasesTitle'][page.lang]}}</h1>
          <p class="lead font-weight-normal lead">{{site.data.translations['PressReleasesInfoText'][page.lang]}}</p>
          <a class="btn btn-outline-primary" href="https://drive.google.com/drive/folders/1g7fwjytFF3JDDAhn53MMCcuEpa4KM6nf?usp=sharing" target="_blank">{{site.data.translations['PressReleasesButtonText'][page.lang]}}</a>

      </div>
      <div class="col-md-5 float-lg-left mx-sm-5 my-5">
          <h1 class="font-weight-normal display-4">{{site.data.translations['ImageReleasesTitle'][page.lang]}}</h1>
          <p class="lead font-weight-normal lead">{{site.data.translations['ImageReleasesInfoText'][page.lang]}}</p>
          <a class="btn btn-outline-primary" href="https://drive.google.com/drive/folders/1g7fwjytFF3JDDAhn53MMCcuEpa4KM6nf?usp=sharing" target="_blank">{{site.data.translations['ImageReleasesButtonText'][page.lang]}}</a>

      </div>
    </div>
    {{ content }}
    {% include footer.html %}
    
    <!-- Last elemnt has to be cookie-banner -->
    {% include cookie-banner.html %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>